body {
	background-color:#F8F8F8
}

#background {
	width:1230px;
	height:400px;
	margin:auto;
	background-image:url(images/serjilla.jpg);
	background-size:1230px 400px;
	background-repeat:no-repeat;
	position:relative;
	z-index:1;
}

#banner1 {
	width:1230px;
	height:250px;
	margin:auto;
	background:url(images/banner.jpg);
	background-size: 1230px 250px;
	background-repeat:no-repeat;
}

#banner2 {
	width:1230px;
	height:250px;
	margin:auto;
	background:url(images/hands.jpg);
	background-size: 1230px 250px;
	background-repeat:no-repeat;
}

#banner3 {
	width:1230px;
	height:250px;
	margin:auto;
	background:url(images/eagle.jpg);
	background-size: 1230px 250px;
	background-repeat:no-repeat;
}

nav {
	margin:auto;
	width:1230px;
	font-family: 'Gloria Hallelujah', cursive;	
	text-align:center;
}

ul {
	list-style-type:none;
	margin:15px;
	padding:0;
}

li {
	display:inline-block;
}

a {
	text-decoration:none;
	color:black;
}
a:hover {
	color:#B0B0B0;
}

#section1 {
	width:1230px;
	height:250px;
	margin:auto;
}

#columnLeft {
	width:398px;
	height:250px;
	float:left;
	margin-right:18px;
}

#columnMiddle {
	width:398px;
	height:250px;
	float:left;
}

#columnRight {
	width:398px;
	height:250px;
	float:left;
	margin-left:18px;
}

img {
	width:399px;
	height:250px;
	position:relative;
	z-index:1;
	opacity:0.5;
}

img:hover {
	opacity:1.0;
}

h1 {
	position:absolute;
	color:#F8F8F8;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight:normal;	
	font-size:16px;
	z-index:2;
	opacity:0.8;
	margin-left:10px;
}

h3 {
	position:absolute;
	color:#F8F8F8;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight:normal;	
	margin-top:116px;
	font-size:16px;
	z-index:2;
	opacity:0.8;
	text-align:center;
	width:399px;
}

.content {
	width: 1230px;
	height: 915px;
	margin:auto;
}

.article {
	width:613px;
	height:300px;
	margin:auto;
	display:inline-block;
	background-color: rgb(242, 242, 242)
}

#aboutLeft {
	width:398px;
	height:250px;
	float:left;
	margin-right:18px;
	font-family: 'Gloria Hallelujah', cursive;
	background-color: rgb(242, 242, 242);
	color:black;
	text-align:center;
	opacity:0.5;
}

#aboutMiddle {
	width:398px;
	height:250px;
	float:left;
	font-family: 'Gloria Hallelujah', cursive;
	background-color: rgb(242, 242, 242);
	color:black;
	text-align:center;
	opacity:0.5;
}

#aboutRight {
	width:398px;
	height:250px;
	float:left;
	margin-left:18px;
	font-family: 'Gloria Hallelujah', cursive;
	background-color: rgb(242, 242, 242);
	color:black;
	text-align:center;
	opacity:0.5;
}

#aboutLeft:hover {
	opacity:1.0;
}

#aboutMiddle:hover {
	opacity:1.0;
}

#aboutRight:hover {
	opacity:1.0;
}